{% block sdnav %}
	<ul>
		<li><i></i><a href="atlas">画册影集</a></li>
		<li><i></i><a href="documentary">纪录跟拍</a></li>
		<li><i></i><a href="training">摄影培训</a></li>
		<li><i></i><a href="custom">定制摄影</a></li>
		<li><i></i><a href="advertisement">商业广告</a></li>
		<li><i></i><a href="aerial">航拍</a></li>
		<li><i></i><a href="recopy">艺术品翻拍</a></li>
	</ul>
{% endblock %}