/*  myCart css  */

/*  title  */
.sectionTitle {
	margin: 40px;
	font-size: 24px;
	letter-spacing: 2px;
	color: #e77a19;
}
/*  position  */
.toRight {
	float: right;
}
.toLeft {
	float: left;
}
/*  cartlist coloumn width  */
.g-cart .td-1 {
	width: 100px;
}
.g-cart .td-2 {
	width: 290px;
}
.g-cart .td-3 {
	width: 260px;
}
.g-cart .td-4 {
	width: 204px;
}
.g-cart .td-5 {
	width: 200px;
}

/*  input element */
.g-cart .input-check {
	margin-right: 4px;
}

.g-cart {
	margin-bottom: 40px;
}
.g-cart em {
	font-style: normal;
	color: #e77a19;
}

.g-cart .cart-info {
	margin-bottom: 16px;
}
.g-cart .cart-info span {
	font-size: 18px;
}

/*  right  */
.g-cart .cart-sum {
	float: right;
	position: relative;
	top: 4px;
}
.g-cart .cart-sum span {
	font-size: 12px;
}
.g-cart .cart-sum .button {
	margin-left: 10px;
}

/*  cartlsit  */
.g-cart .cart-list {
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	background-color: #fff;
}
.g-cart .cart-title {
	font-size: 14px;
	letter-spacing: 1px;
	color: #8a8987;
}
/*  li + td  */
.g-cart .cart-item li,
.g-cart .cart-title li {
	float: left;
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}
.g-cart .cart-title li {
	padding:20px 0;
	text-align: center;
}
/*  cart-item  */
.g-cart .cart-item li {
	min-height: 215px;
	font-size: 12px;
}
/*  checkbox in column  */
.g-cart .cart-item .td-1,
.g-cart .cart-comfirm .td-1 {
	text-align: center;
}
.g-cart .cart-item .td-1 .input-check {
	margin-top: 20px;
}
/*  picture in column  */
.g-cart .cart-item .item-pic {
	padding: 20px 20px 0;
	text-align: center;
}
.g-cart .cart-item .itempic {
	width: 100%;/* 250px */
	height: 150px;
	margin-bottom: 14px;
}
.g-cart .cart-item span {
}
/*  info in column  */
.g-cart .item-info {
	padding: 15px;
	line-height: 1.8em;
}
.g-cart .item-info dd {
	padding: 5px;
}
.g-cart .item-info dd span {
	color: #999;
}
/*  item-price  */
.g-cart .item-price {
	font-size: 14px;
	line-height: 215px;
	text-align: center;
}
/*  item-option  */
.g-cart .item-option {
	text-align: center;
}
.g-cart .item-option-wrap {
	padding-top: 100px;
	display: inline-block;
}
.g-cart .item-option .button {
	margin: 0 4px; 
}

/*  cart-comfirm  */
.g-cart .cart-comfirm {
	padding: 20px 0;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.g-cart .cart-comfirm li {
	float: left;
	padding: 0 16px;
}
.g-cart .cart-comfirm .td-1 {
	padding: 0;
}
.g-cart .cart-comfirm .z-button {
	padding: 8px 16px;
}
.g-cart .cart-comfirm .z-button-1 {
	background-color: #22ac38;
}
.g-cart .cart-comfirm .z-button-1:hover {
	background-color: #1FA435;
}
.g-cart .cart-comfirm .z-button-1:active {
	background-color: #1C9832;
}
.g-cart .cart-comfirm .toRight {
	margin-right: 10px;
}
.g-cart .cart-comfirm .z-button-2 {
	margin-left: 10px;
}