/*点击查看大图*/
.m-imgView-wrap {
	display: none;
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.m-imgView .m-img-box {
}
.m-imgView .m-img-box img {
	position: absolute;
	z-index: 1;
	/*width: 1080px;*/
}
.m-imgView .icon-close-big {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 999;
	width: 31px;
	height: 30px;
	background-image: url("../../images/css_sprite/icon/icon_close_big.png");
	cursor: pointer;
}
.m-imgView .mask {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #121212;
	opacity: .9;
	filter: alpha(opacity=.9);
}